- provide(:title, full_title("Help"))
%h1 My Marathon Map
%h3 What is this?
My Marathon Map is an application that keeps track of the marathons that you have run within the United States.
%h3 How do I get started?
= link_to "Sign Up", signup_path
here!
