- provide(:title, full_title("Welcome"))
%div.center
  %h3
    Keep track of your marathons in the United States!
    %div.signup
      = link_to "Sign Up", signup_path
      now!
    %h6= link_to "What is this?", help_path
