// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Show

.map {
  width: 100%;
}

.asc:before {
  font-family: 'FontAwesome';
  content: '\f0dd';
}

.desc:before {
  font-family: 'FontAwesome';
  content: '\f0de';
}
